<script type="text/javascript">

var defaultSDK = "sdk_21", defaultArch = "arm";

function selectDefaults(appTargetsStr) {
        var appTargets = appTargetsStr.split(" ");
	var arch = selectDefaultArch();
	var sdk = selectDefaultSDK();

	for (var i = 0, len = appTargets.length; i < len; i++) {
		var appTarget = appTargets[i];
		if (arch) {
			var input = document.getElementById(appTarget + '_' + arch);
			input.checked = true;
			if (appTargetsStr.includes("chromium")) {
				input.parentNode.parentNode.classList.add("chromium-halo");
			} else {
				input.parentNode.parentNode.classList.add("bromite-halo");
			}
		}
		if (sdk) {
			var input = document.getElementById(appTarget + '_' + sdk);
			input.checked = true;
			if (appTargetsStr.includes("chromium")) {
				input.parentNode.parentNode.classList.add("chromium-halo");
			} else {
				input.parentNode.parentNode.classList.add("bromite-halo");
			}
		}
	}

	if (sdk)
		defaultSDK = sdk;
	if (arch)
		defaultArch = arch;
}

function selectDefaultArch() {
	if (!navigator.platform)
		return false;
        if (navigator.platform.includes("aarch64"))
		return "arch_arm64";
        if (navigator.platform.includes("armv8"))
		return "arch_arm64";
        if (navigator.platform.includes("arm"))
		return "arch_arm";
        if (navigator.platform.includes("i686"))
		return "arch_x86";
        return false;
}

function selectDefaultSDK() {
	var sdk = androidVersionToSDK(getAndroidVersion());
	if (!sdk)
		return false;
	if (sdk < 21)
		return 'sdk_17';
	return 'sdk_21';
}

function androidVersionToSDK(av) {
        if (!av)
          return false;
        var parts = av.split('.');
        if (parts.length < 2)
          return false;

        var major = parseInt(parts[0]), minor = parseInt(parts[1]);
        if (major < 4)
            return false;
        var patch = 0;
        if (parts.length > 2)
          patch = parseInt(parts[2]);
        
        switch (major) {
          case 4:
            if (minor < 2) {
              // SDK16 and below are not supported since v74
              return false;
            }
            return 15+minor;
          case 5:
            return 21+minor;
          case 6:
            return 23;
          case 7:
            return 24+minor;
          case 8:
            return 26+minor;
          case 9:
          default:
            return 28;
        }

        // will never get here
        return false;
}

function getAndroidVersion() {
	var ua = navigator.userAgent.toLowerCase();
	var match = ua.match(/android\s([0-9\.]*)/);
	return match ? match[1] : false;
};

function radioClick(appTarget, obj) {
	if (appTarget == 'SystemWebView') {
		return;
	}
	if (obj.name == appTarget + '_arch') {
		if (obj.value == 'arm64') {
			document.getElementById(appTarget + '_' + defaultSDK).checked = true;
		}
	}
}

function doDownload(appName, appTarget, apkPrefix) {
	var arch = '', target = '';

	var objs = document.getElementsByName(appTarget + '_arch');
	for (var i = 0; i < objs.length; i++) {
		if (objs[i].checked) {
			arch = objs[i].value;
			break;
		}
	}
	objs = document.getElementsByName(appTarget + '_sdk');
	if (appTarget == 'systemwebview') {
		target = 'SystemWebView';
	} else {
		for (var i = 0; i < objs.length; i++) {
			if (objs[i].checked) {
				switch (objs[i].value) {
					case '17':
						target = 'ChromePublic';
					break;
					case '21':
						target = 'ChromeModernPublic';
					break;
				}
				break;
			}
		}
	}
	if (arch == '' || target == '') {
		console.log("cannot download", appName, appTarget, apkPrefix);
		return;
	}

	window.location.href = 'https://github.com/bromite/' + appName.toLowerCase() + '/releases/download/{{ site.latest_release }}/' + apkPrefix + arch + '_' + target + '.apk';
}

</script>
