## Resources

* [Wiki](https://github.com/bromite/bromite/wiki)
* [Official Thread on XDA Developers forums](https://forum.xda-developers.com/android/apps-games/app-bromite-chromium-plus-adblocking-t3687258)

# Download {{ page.app_name }}

Android v4.1 and above are supported.

Current {{ page.app_name }} stable version: <strong>{{ site.latest_release }}</strong>

|Architecture	|Android version	|
|:---		|---		|
|<label for="arch_arm"><input onclick="radioClick(this)" value="arm" type="radio" name="arch" id="arch_arm" checked />ARM</label>		|<label for="sdk_16"><input onclick="radioClick(this)"  type="radio" name="sdk" id="sdk_16" value="16" />Jelly Bean and above (SDK16)</label>	|
|<label for="arch_arm64"><input onclick="radioClick(this)" value="arm64" type="radio" name="arch" id="arch_arm64"/>ARM64</label>		|<label for="sdk_21"><input onclick="radioClick(this)"  type="radio" name="sdk" id="sdk_21" value="21" checked />Lollipop and above (SDK21)</label>	|
|<label for="arch_x86"><input onclick="radioClick(this)" value="x86" type="radio" name="arch" id="arch_x86"/>X86</label>		|<label for="sdk_24"><input onclick="radioClick(this)"  type="radio" name="sdk" id="sdk_24" value="24" />Nougat and above (SDK24)</label>	| |

<input id="download_button" type="button" value="Download {{ page.app_name }} v{{ site.latest_release }}" onclick="doDownload()" style="font-size: 1em" />

<a title="Bromite Github releases" href="https://github.com/bromite/{{ page.app_name | downcase }}/releases"><img src="{{ page.apk_prefix }}downloads.svg" alt="{{ page.gh_downloads }} downloads on Github" title="{{ page.gh_downloads }} downloads on Github" /></a>
{% if page.xda_downloads %}<img src="{{ page.apk_prefix}}xda_labs.svg" alt="{{ page.xda_downloads }} downloads on XDA Labs" title="{{ page.xda_downloads }} downloads on XDA Labs" />{% endif %}
