<script type="text/javascript">

// SDK to select when architecture is changed
const defaultSDK = 23;

function selectDefaults(appTargetsStr) {
	var sdk = defaultSDK;
	var arch = 'arm';

        var appTargets = appTargetsStr.split(" ");
        var androidVersion = getAndroidVersion();
        if (androidVersion)
            sdk = androidVersionToSDK(androidVersion, sdk);
        if (sdk && navigator.platform)
            arch = selectDefaultArch(navigator.platform, arch);

	for (var i = 0, len = appTargets.length; i < len; i++) {
		var appTarget = appTargets[i];

		var input = document.getElementById(appTarget + '_arch_' + arch);
		input.checked = true;
		if (appTargetsStr.includes("chromium")) {
			input.parentNode.parentNode.classList.add("chromium-halo");
		} else {
			input.parentNode.parentNode.classList.add("bromite-halo");
		}

		var input = document.getElementById(appTarget + '_sdk_' + sdk);
		input.checked = true;
		if (appTargetsStr.includes("chromium")) {
			input.parentNode.parentNode.classList.add("chromium-halo");
		} else {
			input.parentNode.parentNode.classList.add("bromite-halo");
		}
	}
}

function getAndroidVersion() {
	var ua = navigator.userAgent.toLowerCase();
	var match = ua.match(/android\s([0-9\.]*)/);
	return match ? match[1] : false;
};


function selectDefaultArch(platform, defaultArch) {
        if (platform.includes("aarch64"))
		return "arm64";
        if (platform.includes("armv8"))
		return "arm64";
        if (platform.includes("arm"))
		return "arm";
        if (platform.includes("i686"))
		return "x86";
        if (platform.includes("x86_64"))
		return "x64";
        // unrecognized
        return defaultArch;
}

function androidVersionToSDK(av, default) {
        if (!av)
          return default;
        var parts = av.split('.');
        if (parts.length == 1)
          parts.push('0');

        var major = parseInt(parts[0]), minor = parseInt(parts[1]);
        if (major < 4)
            return default;
        var patch = 0;
        if (parts.length > 2)
          patch = parseInt(parts[2]);
        
        var sdk = default;
        switch (major) {
          case 4:
            if (minor < 4) {
              // SDK16 and below are not supported since v74
              // SDK17 and SDK18 are not supported since v75.0.3770.53+
              return default;
            }
            return default;
          case 5:
            // SDK21 is not supported since v96
            return default;
          case 6:
            sdk = 23;
          case 7:
            sdk = 23;
          case 8:
            sdk = 23;
        }

        return sdk;
}

function radioClick(appTarget, obj) {
	if (appTarget == 'SystemWebView') {
		return;
	}
	if (obj.name == appTarget + '_arch') {
		if (obj.value == 'arm64') {
			document.getElementById(appTarget + '_sdk_' + defaultSDK).checked = true;
		}
	}
}

function doDownload(appName, appTarget, apkPrefix) {
	var arch = '', target = '';

	var objs = document.getElementsByName(appTarget + '_arch');
	for (var i = 0; i < objs.length; i++) {
		if (objs[i].checked) {
			arch = objs[i].value;
			break;
		}
	}
	objs = document.getElementsByName(appTarget + '_sdk');
	if (appTarget == 'systemwebview') {
		target = 'SystemWebView';
	} else {
		for (var i = 0; i < objs.length; i++) {
			if (objs[i].checked) {
				switch (objs[i].value) {
					case '23':
						target = 'ChromePublic';
					break;
					default:
						console.error("unknown SDK:", objs[i].value);
					break;
				}
				break;
			}
		}
	}
	if (arch == '' || target == '') {
		console.error("cannot download app ", appName, "with target", appTarget, "and prefix", apkPrefix);
		return;
	}

	window.location.href = 'https://github.com/bromite/' + appName.toLowerCase() + '/releases/download/{{ site.latest_release }}/' + apkPrefix + arch + '_' + target + '.apk';
}

</script>
