<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
	{% include head.html %}
{% seo %}
{% if page.dl_components %}
{% include download_script.html %}
{% endif %}
	<link rel="canonical" href="{{ site.url }}" />
  </head>

  <body{% if page.dl_components %} onload="selectDefaults('{{ page.dl_components }}')"{% endif %}>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        </header>
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
          <a href="https://github.com/bromite/bromite" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer style="text-align: center">
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
           [<a href="/">Home</a>]&nbsp;&nbsp;[<a href="https://github.com/bromite/bromite">Github project</a>]</a>]
        </footer>

      </div>
    </div>

  </body>
</html>
